.container{
    max-width: 1000px;
    margin: 0 auto;
}

.login,
.order,
.registration,
.user-info{
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 20px;
    width: max-content;
    border: 3px solid #ffe135;
    border-radius: 10px;
}


.order__form-submit,
.login__form-submit,
.registration__form-submit,
.login__registration-link{
    display: block;
    padding: 10px;
    width: 100%;

    cursor: pointer;
    
    background: #ffe135;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 10px -5px;

    transition: 0.3s;
}

.order__form-submit:hover,
.order__form-submit:focus,
.login__form-submit:hover,
.login__form-submitL:focus,
.registration__form-submit:hover,
.registration__form-submit:focus,
.login__registration-link:hover,
.login__registration-link:focus{
    box-shadow: 0px 0px 0px 0px;
}