.menu__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 25px;
    padding-top: 20px;

    width: 250px;
    height: 430px;
    min-height: 430px;

    border: 3px solid #ffe135; 
    border-radius: 10px;

    box-shadow: 0 3px 7px -4px #000000;

    transition: 0.3s;
}

.menu__item-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}

.menu__item:hover{
    box-shadow:  0 0px 0px 0px #000000;
}

.menu__item-img{
    width: 200px;
    height: 200px;

    margin: 0 auto;
}

.menu__item-name{
    text-align: center;
}

.menu__item-description{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.menu__item-price{
    font-weight: 700;
}

.menu__input-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.menu__item-quantity{
    padding: 5px;

    width: 40px;

    text-align: center;
    
    border: 3px solid #ffe135;
    border-radius: 5px;
}

.menu__item-quantity::placeholder{
    color:darkgray;
}


/* Chrome, Safari, Edge, Opera */
.menu__item-quantity::-webkit-outer-spin-button,
.menu__item-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.menu__item-quantity[type=number] {
  -moz-appearance: textfield;
}

.menu__item-submit{
    cursor: pointer;

    padding: 10px 20px;

    background: #ffe135;

    border: none;
    border-radius: 25px;

    box-shadow: 0 2px 10px -5px;
    transition: 0.3s;
}

.menu__item-submit:hover{
    box-shadow: 0 1px 3px -1px;
}

.menu__item-img img{
    background: #ffe135;
    border-radius: 5px;
    box-shadow:  0 1px 5px 0px #000000;
}
