
.menu__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    margin-top: 100px;
    padding: 0 100px;

    list-style: none;
}

.menu__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 250px;
    height: 300px;

    margin-bottom: 25px;

    border: 2px solid 
}

.menu__item-img{
    width: 200px;
    height: 200px;

    margin: 0 auto;
}

.menu__item-description{
    text-align: center;
}

.menu__input-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.menu__item-quantity{
    padding: 5px 10px;

    width: 10px;
    
    border: 1px solid #ffe135;
    border-radius: 5px;
}

.menu__item-submit{
    cursor: pointer;

    padding: 10px 20px;
    margin-left: auto;

    background: #ffe135;

    border: none;
    border-radius: 25px;

    box-shadow: 0 2px 10px -5px;
    transition: 0.3s;
}

.menu__item-submit:hover{
    box-shadow: 0 1px 3px -1px;
}