.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 17px;
    font-weight: 600;

    padding: 0 20px;
    margin-bottom: 100px;

    background-color: #ffe135;
}

.header__tagline{
    flex-grow: 3;
    padding: 0 30px;
}

.header__authorization{
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.header__authorization-text{
    line-height: 10px;
}

.header__authorization:hover,
.header__logo:hover{
    cursor: pointer;
    color: orange;
}

.header__authorization-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    min-width: 120px;
}

.header__authorization-login{
    margin-right: 10px;
}

.header__authorization-logout{
    cursor: pointer;
    font-size: 14px;
}

.header__authorization-user{
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.header__authorization-logout:hover,
.header__authorization-user:hover{
    color: orange;
}